/* asterisk is a universal selector, that matches any element and applies styles globally across all elements within a webpage */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Muli", sans-serif
}

/* Main Container */

.container {
    width:100%;
    height: 130vh;
    position: relative;
}

.container h1 {
    text-align: center;
    font-size: 200%;
}

.container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15%;
}

.button {
    background-color:rgb(253, 170, 62); 
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: #000000;
    padding: 0.5%;
    margin: 0%; 
    font-size: 100%;
    margin-top: 2.5%;
    font-weight: bold;
}

.button:hover {
    background-color: #000000;
    color: rgb(253, 170, 62);
}

.hidden {
    display:none;
}

.blur::before {
    filter: blur(7px)
}

.blur .header-blurred, .blur .button-container {
    filter: blur(7px);
}

.button-container h1 {
    margin-top: 0%;
    padding: 1.5%;
}

/* Cards */

.card {
    background-color: white;
    padding: 1%;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 50%;
    margin: -20% auto;
    position:relative;
}

/* About Me Card */

.card-about-content h1 {
    font-size: 120%;
    color: rgb(253, 170, 62);
    margin-bottom: 20px;
    text-align: left;
}

.card-about-content p {
    font-size: 100%;
    margin-bottom: 2.5%;
    text-align: left;
    line-height: 140%;
}

.card-about-content strong {
    color: rgb(253, 170, 62);
}

.card-about-content a:link {
    text-decoration: none;
    background-color: transparent;
}

.card-about-content {
    text-align: left;
}

.card-about-content h2 {
    font-size: 110%;
    margin-bottom: 1.5%;
    margin-top: 2.5%;
    color:  rgb(253, 170, 62);
}

.card-about-content ul {
    padding-left: 5%;
    font-size: 100%;
    list-style-type: square;
    margin-bottom: 2.5%;
}

.card-about-content li {
    line-height: 130%;
}

/* Data Science Card */

.card-datascience-content img {
    max-width: 100%;
    width: 15%;
    display: block;
    margin-bottom: 2.5%;
}

.card-datascience-content p {
    text-align: left;
    font-size: 100%;
    color: rgb(0, 0, 0);
    margin-bottom: 2%;
    line-height: 140%;
}

.card-datascience-content h2 {
    font-size: 120%;
    color:rgba(191,215,47,255);
}

.card-datascience-content ul {
    font-size: 100%;
    list-style-type: square;
    padding: 2%;
}

.card-datascience-content li {
    line-height: 130%;
}

.card-datascience-content a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: transparent;
}

.card-datascience-content a:hover {
    color: #7aaec0;
    background-color: transparent;
    text-decoration:none;
}

/* Computer Science */

.card-computer-content img {
    max-width: 100%;
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-computer-content h1 {
    font-size: 120%;
    color: #1d4d88;
    text-align: left;
}

.card-computer-content p {
    margin-top: 2%;
    font-size: 100%;
    line-height: 130%;
}

.card-computer-content h2 {
    margin-top: 3%;
    color:  #7aaec0;
    font-size: 120%;
}

.card-computer-content a:link {
    text-decoration: none;
    background-color: transparent;
    color:  #7aaec0;
}

.card-computer-content a:link:hover {
    color: #1d4d88;
}

.card-computer-content p a:hover {
    color: #1d4d88;
}

/* Reach Me Card */

.card-reach-content ul {
    font-size: 130%;
}

.card-reach-content li {
    list-style: none;
    line-height: 200%;
    padding: 1%;
}

.card-reach-content a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: transparent;
}

.card-reach-content a:hover {
    color:rgb(253, 170, 62);
    background-color: transparent;
    text-decoration:none;
}

/* ::before allows to add decorative elements before of the HTML content and without altering it */

.card-reach-content .linkedin .t::before {
    content: "";
    display:inline-block;
    background: url('../imgs/linkedin_logo.webp') no-repeat left center;
    background-size: contain;
    position: absolute;
    left: -2em;
    width: 2em;
    height: 2em;
}

.card-reach-content .linkedin .t {
    position: relative; 
    top: 0em;
    left: 1em; 
}

.card-reach-content .github .t::before {
    content: "";
    display: inline-block;
    background: url('../imgs/GitHub-logo.png') no-repeat left center;
    background-size: contain; 
    position: absolute;
    left: -2em;
    width: 2em;
    height: 2em;
}

.card-reach-content .github .t {
    position: relative; 
    top: 0em; 
    left: 1em; 
}

.card-reach-content .gmail .t::before {
    content: "";
    display:inline-block;
    background: url('../imgs/gmail.png') no-repeat left center;
    background-size: contain;
    position: absolute;
    left: -2em;
    width: 2em;
    height: 2em;
}

.card-reach-content .gmail .t {
    position: relative; 
    top: 0em; 
    left: 1em; 
}

.card-reach-content .discord .t::before {
    content: "";
    display:inline-block;
    background: url('../imgs/discord.png') no-repeat left center;
    background-size: contain;
    position: absolute;
    left: -2em;
    width: 2em;
    height: 2em;
}

.card-reach-content .discord .t {
    position: relative; 
    top: 0em; 
    left: 1em; 
}

/* Feedback card */

.feedback-card-content h1 {
    font-size: 120%;
    text-align: center;
    color: rgb(253, 170, 62);
}

.feedback-card-content p {
    font-size: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
    line-height: 140%;
}

.feedback-card-content h2 {
    font-size: 120%;
    color: rgb(253, 170, 62);
    text-align: center;
}

.feedback-card-content strong {
    color: rgb(253, 170, 62);
}

.feedback-card-content a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: transparent;
}

.feedback-card-content a:hover {
    color: rgb(253, 170, 62);
    background-color: transparent;
    text-decoration:none;
}